body {
  text-align: center;
  background-color: #557571;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 200%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}



.btn {
  margin: 1.5rem;
  display: inline-block;
  height: 12.5rem;
  width: 12.5rem;
  border: 0.625rem solid black;
  border-radius: 100%;
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.success {
  background-color: green;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.brown {
  background-color: #ac4b1c;
}

.pressed {
  box-shadow: 0 0 1.25rem white;
  background-color: grey;
}


@media only screen and (max-width: 1650px) {
        /* for sumo sized (mac) screens */
        .btn {
          margin: 1.5rem;
          display: inline-block;
          height: 10rem;
          width: 10rem;
          border: 0.5rem solid black;
          border-radius: 100%;
        }
    }


    @media only screen and (max-width: 1380px) {
            /* for sumo sized (mac) screens */
            .btn {
              margin: 1.5rem;
              display: inline-block;
              height: 7rem;
              width: 7rem;
              border: 0.4rem solid black;
              border-radius: 100%;
            }
        }



        @media only screen and (max-width: 1030px) {
                /* for sumo sized (mac) screens */
                .btn {
                  margin: 1rem;
                  display: inline-block;
                  height: 7rem;
                  width: 7rem;
                  border: 0.2rem solid black;
                  border-radius: 100%;
                }
            }
